      <div class="span6 offset3" id="bottom-menu" align="center">
        <a data-toggle="modal" href="#about-modal">About</a>
        &nbsp; &nbsp;
        <a href="http://www.w3.org/html/logo/"><img src="/static/img/html5.png" width="220" alt="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Graphics, 3D &amp; Effects, Semantics, and Offline &amp; Storage" title="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Graphics, 3D &amp; Effects, Semantics, and Offline &amp; Storage"></a>
        &nbsp; &nbsp;
        <a data-toggle="modal" href="#credits-modal">Credits</a>
      </div>

    </div>

    <!--
    Modal for the ABOUT section.
    -->
    <div class="modal hide fade" id="about-modal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>About ChattrBox</h3>
      </div>
      <div class="modal-body">
        <p>ChattrBox is a simple way to anonymously chat with people online. No message or identity information is logged anywhere for now.</p>
         <p>This project was not created with to make anonymous chatting available to everyone. This project came into existence as a dependency for another project that I wish to work on later and it will not be used to anonymously chat in that project as well.</p>
         <p>ChattrBox was created by <a href="http://vaidikkapoor.info">Vaidik Kapoor</a>.</p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-success">Thanks!</a>
      </div>
    </div>

    <!--
    Modal for the CREDITS section.
    -->
    <div class="modal hide fade" id="credits-modal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Credits</h3>
      </div>
      <div class="modal-body">
        <p>ChattrBox was created by <a href="http://vaidikkapoor.info">Vaidik Kapoor</a>.</p>
        <h4>This project was created with some love and...</h4>
        <ul>
          <li><a href="http://www.w3.org/html/logo/">HTML5</a></li>
          <li><a href="http://flask.pocoo.org">Flask</a></li>
          <li><a href="http://redis.io">Redis</a></li>
          <li><a href="http://httpd.apache.org">Apache HTTPD</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-success">Thanks!</a>
      </div>
